body {
    background-color: #e8eaed;
}
.header {
    color: #e8eaed;
    background-color: #121212;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.name {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 68px;
    margin: 0;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: sans-serif;
    margin: 0;
}
.nav-hr {
    margin: 0;
}
.active {
    color: lightgreen;
}
a {
    font-size: 30px;;
}
a:hover {
    color: lightskyblue;
    text-decoration: underline;
    font-size: 40px;
}
a:active {
    color: lightskyblue;
}
footer{
    color: #e8eaed;
    background-color: #121212;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: sans-serif;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill);
    margin: 20px;
}
.wrapper div {
    border: #121212 2px solid;
    font-family: serif;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 1;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 2;
}
