body {
  background-color: #e8eaed;
}
.header {
  color: #e8eaed;
  background-color: #121212;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.name {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  font-size: 68px;
  margin: 0;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-family: sans-serif;
  margin: 0;
  height: 70px;
}
.nav-hr {
  margin: 0;
}
.active a {
  color: lightgreen;
  text-decoration: underline;
}
.unactive a {
  color: #e8eaed;
  text-decoration: none;
}
a:hover {
  color: lightskyblue;
  text-decoration: underline;
}
a:active {
  color: lightskyblue;
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8eaed;
  background-color: #121212;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: sans-serif;
}
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width:1290px) {
/*Phone*/
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill);
    margin: 20px;
  }
  .wrapper div {
    border: #121212 2px solid;
    font-family: serif;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 2;
    grid-row: 1;
  }
  .three {
    grid-column: 1;
    grid-row: 2;
  }
  .four {
    grid-column: 2;
    grid-row: 2;
  }
  .five {
    grid-column: 1;
    grid-row: 3;
  }
  .six {
    grid-column: 2;
    grid-row: 3;
  }
    img {
    width: 125px;
    height: auto;
    float: left;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: #e8eaed 17px solid;
    border-right: #e8eaed 17px solid;
    border-left: #e8eaed 17px solid;
    border-bottom: #e8eaed 50px solid;
    }
  .about-body {
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 250px 5px 20px 5px;
  }
  .about-words {
    font-size: 51px;
    font-family: sans-serif;
    position: absolute;
    top: 125px;
    text-align: center;
    right: 0;
    left: 0;
  }
  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .email {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 250px;
  }
  .phone {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 250px;
  }
  .contact #icon {
    font-size: 200px;
  }
  .contact h2 {
    margin-bottom: 15px;
  }
  .contact h3 {
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .contact p {
    margin-top: 0;
  }
  .contact-words {
    font-size: 51px;
    font-family: sans-serif;
    position: absolute;
    top: 125px;
    text-align: center;
  }
}
@media screen and (min-width:1291px) {
/*Desktop*/
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill);
    margin: 20px;
  }
  .wrapper div {
    border: #121212 2px solid;
    font-family: serif;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 2;
    grid-row: 1;
  }
  .three {
    grid-column: 3;
    grid-row: 1;
  }
  .four {
    grid-column: 1;
    grid-row: 2;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
  }
  .six {
    grid-column: 3;
    grid-row: 2;
  }
  img {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: #e8eaed 17px solid;
    border-right: #e8eaed 17px solid;
    border-left: #e8eaed 17px solid;
    border-bottom: #e8eaed 50px solid;
    }
  .about-body {
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 20px 20px 20px 600px;
  }
  .about-words {
    font-size: 85px;
    font-family: sans-serif;
    position: absolute;
    left: 70px;
    top: 60px;
  }
  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .email {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .phone {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .contact #icon {
    font-size: 200px;
  }
  .contact h2 {
    margin-bottom: 15px;
  }
  .contact h3 {
    text-decoration: underline;
    margin-top: 15px;
   margin-bottom: 0;
  }
  .contact p {
    margin-top: 0;
  }
  .contact-words {
    font-size: 85px;
    font-family: sans-serif;
  }
}
